.pomoCard * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e476bf;
}

.pomoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #9cf6cf;
    padding: 15px;
    border-radius: 5px;
}

.pomoTime {
    font-size: 2rem;
    font-weight: 700;
}

.pomoCard button {
    border: unset;
    background-color: #9cf6cf;
}

.pomBtnsWrapper {
    display: flex;
    gap: 20px;
}