.gameCard {
    height: fit-content;
    
    padding: 5px;
    background-color: rgb(83, 83, 83);
    border-radius: 8px;

    -webkit-box-shadow: -3.5px 3.5px 6px 0.5px #010101;
    -moz-box-shadow: -3.5px 3.5px 6px 0.5px #010101;
    box-shadow: -3.5px 3.5px 6px 0.5px #010101;

    transition: transform 1s  cubic-bezier(0.000, 0.455, 0.105, 0.940);
}

.gameCard a {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.gameCard:hover {
    transform: scale(1.3);
    z-index: 1;
}

.gameCard img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}