.pagination {
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    
    padding: 0;
    margin: 0;
}

.pagination li {
    cursor: pointer;
    font-size: 16px;
    transition: font-size 0.25s;
}

.pagination li[selected] {
    font-weight: 600;
    font-size: 20px;
}

.pokemonList {
    display: flex;
    flex-direction: column;
}

.pokemonList li {
    width: fit-content;
    margin-top: 5px;
}

.pokemonList li > span {
    margin-right: 5px;
}

.pokemonList li a {
    transition: font-size 0.25s;
}

.pokemonList li a:hover{
    font-size: 1.2rem;
    font-weight: 700;
}