.formWrapper {
    width: 100%;
    background: rgb(31, 168, 104);
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
}
.formStep form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
}
.formStep form label {
    display: flex;
    flex-direction: column;
}
.labelName {
    width: 40%;
    min-width: 350px;
}
.labelEmail {
    width: 40%;
    min-width: 350px;
}
.labelMessage {
    width: 100%;
}
.formStep form input {
    border: 0;
    border-radius: 6px;
    padding: 15px 10px;
    min-width: 40%;
}
.formStep form textarea {
    padding: 15px 10px;
    min-height: 100px;
    border-radius: 6px;
    width: 100%;
}
.formStep button[type=submit] {
    border: 2px solid;
    padding: 10px 30px;
    border-radius: 20px;
    width: fit-content;
}