.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.gameCard {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 5px;
    background-color: rgb(83, 83, 83);

    border-radius: 5px;
}

.gameCard img {
    width: 100%;
    height: auto;
}