.pagination {
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    padding: 0;
    margin: 0;
}

.pagination li {
    cursor: pointer;
}

.pagination li[selected] {
    text-decoration: underline;
}

.pagination li:hover {
    font-size: 1.2rem;
}

.pokemonList {
    display: flex;
    flex-direction: column;
}

.pokemonList li {
    width: fit-content;
    margin-top: 5px;
}

.pokemonList li > span {
    margin-right: 5px;
}

.pokemonList li a:hover{
    font-size: 1.2rem;
    font-weight: 700;
}