.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.gamesGrid {
    width: 100%;
    display: grid;
    gap: 10px 25px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.sortButtons {
    display: flex;
    gap: 20px;
}

.sortButtons button {
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    background-color: #9cf6cf;
    border: 1px solid rgb(31, 168, 104);
    border-radius: 5px;
}

.sortButtons button[selected] {
    border-width: 3px;
}

.sortButtons button[ordering="asc"]::after {
    content: "\2191";
    margin-left: 10px;
}

.sortButtons button[ordering="desc"]::after {
    content: "\2193";
    margin-left: 10px;
}

.nextPrevButtons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.nextPrevButtons button {
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    background-color: #5fe9ad;
    border: 1px solid rgb(31, 168, 104);
    border-radius: 5px;
}

.nextPrevButtons button[disabled] {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgb(21, 119, 73);
}

.nextPrevButtons button:not([disabled]):hover {
    background-color: rgb(21, 119, 73);
}

.gameCard {
    height: fit-content;
    
    padding: 5px;
    background-color: rgb(83, 83, 83);
    border-radius: 8px;

    -webkit-box-shadow: -3.5px 3.5px 6px 0.5px #010101;
    -moz-box-shadow: -3.5px 3.5px 6px 0.5px #010101;
    box-shadow: -3.5px 3.5px 6px 0.5px #010101;

    transition: transform 1s  cubic-bezier(0.000, 0.455, 0.105, 0.940);
}

.gameCard a {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.gameCard:hover {
    transform: scale(1.3);
    z-index: 1;
}

.gameCard img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Batman Loader */
.batmanLoader {
    width: 72px;
    height: 31.7px;
    position: relative;
    margin: 30px 60px;
}

.batmanLoader:before,
.batmanLoader:after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(31, 168, 104);
    box-shadow: 0 0 0 36px rgb(31, 168, 104);
    clip-path: polygon(-36px -14.4px, 10% -8.6px, 20% 0, calc(50% - 11.5px) 0, calc(50% - 7.2px) -14.4px, calc(50% - 5.8px) -11.5px, calc(50% + 5.8px) -11.5px, calc(50% + 7.2px) -14.4px, calc(50% + 11.5px) 0, 80% 0, 90% -8.6px, calc(100% + 36px) -14.4px, 100% 80%, calc(100% + 7.2px) calc(100% + 7.2px), 60% 100%, 50% calc(100% + 11.5px), 40% 100%, -7.2px calc(100% + 7.2px), 0 80%);
}

.batmanLoader:after {
    animation: pulse-ciavg0lg 1.2s infinite;
    transform: perspective(216px) translateZ(0px);
}

@keyframes pulse-ciavg0lg {
    to {
        transform: perspective(216px) translateZ(72px);
        opacity: 0;
    }
}